@model BudgetApplication.ViewModels.TransactionDashboardViewModel

@{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transactions</h2>

<div class="container">

    @foreach (var account in Model.Accounts)
    {
        <h6>@account.AccountName</h6>
        if (Model.AccountIdTransactionDict.ContainsKey(account.AccountId))
        {
            var list = Model.AccountIdTransactionDict[account.AccountId];
            foreach (var transaction in list)
            {
                <p>@transaction.TransactionType.TransactionTypeName</p>
                <p>@transaction.Amount</p>
                <p>@transaction.Comments</p>
            }
        }

    }
</div>