@model BudgetApplication.ViewModels.TransactionDashboardViewModel

@{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transactions</h2>

<div class="container">
    @foreach (var account in Model.Accounts)
    {
        if (Model.AccountIdTransactionDict.ContainsKey(account.AccountId))
        {
            var list = Model.AccountIdTransactionDict[account.AccountId];
            string color =
                     account.AccountTypeId != BudgetApplication.Models.AccountType.CreditCard
                     ? "positive-account-table"
                     : "negative-account-table";
            <table class="table table-hover">
                <thead class=@color>
                    <tr>
                        <th>@account.AccountName</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var transaction in list)
                    {
                        <tr>
                            <td>@transaction.TransactionType.TransactionTypeName</td>
                            <td>@transaction.Amount</td>
                            <td>@transaction.Comments</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
</div>
