@model BudgetApplication.ViewModels.NewTransactionViewModel

@{
    ViewBag.Title = "Transaction Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ProcessTransaction", "Transaction", FormMethod.Post))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Accounts)
        @Html.DropDownListFor(
            m => m.Accounts,
            new SelectList(Model.Accounts,
            "AccountId", "AccountName"),
            "Select Account",
            new { @class = "form-control", @id = "primaryAccountDropdown" })
    </div>


    <button type="submit" class="btn btn-primary">Save</button>

}

@section scripts
{
    <script>
        var accounts = @Html.Raw(Json.Encode(Model.Accounts));

        $(document).ready(function () {
            $('#primaryAccountDropdown').change(function () {
                var selected = $('#primaryAccountDropdown option:selected').val();
                var selectedAccount = accounts.find(function (acc) {
                    return acc.AccountId == selected;
                });
                if (selectedAccount != null) {
                    console.log(selectedAccount.AccountType);
                }
            });
        });
    </script>
}