@model BudgetApplication.Models.MonthlyBill

@{
    ViewBag.Title = "Add Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Bill</h2>

@using (Html.BeginForm("SaveBill", "bill", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.MonthlyBillName)
        @Html.TextBoxFor(m => m.MonthlyBillName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MonthlyBillName)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}