@model List<BudgetApplication.Models.Account>

@{
    ViewBag.Title = "Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accounts</h2>

<br />

<!--Add here the div for add account button-->

<div class="container">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Account Name</th>
                <th>Account Type</th>
                <th>Balance</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var account in Model)
            {
                <tr>
                    <td>@account.AccountName</td>
                    <td>@account.AccountType.AccountTypeName</td>
                    <td>$ @account.Balance.ToString("0.00")</td>
                </tr>
            }
        </tbody>
    </table>
</div>