<h2>Accounts</h2>

<!--This page will be the index for accounts. Will show table and such-->
<div id="text">

</div>

@section scripts
{   
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/api/accounts",
                contentType: "application/json; charset=utf-8",
                method: "GET",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                }
            });
        });
    </script>    
}