@model List<BudgetApplication.Models.Account>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>

<div id="chart-container" class="container">
    <canvas id="myChart" stye="width: 50%"></canvas>
</div>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/ChartJs/dist/Chart.js")"></script>
    
    <script>
        var accs = @Html.Raw(Json.Encode(Model));
    </script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/AccountBarChart/AccountBarChart.js")"></script>

}


